
strict-ssl=true
trust-policy=allow-downgrade
minimum-release-age=1440
block-exotic-subdeps=true
strict-dep-builds=true
registry=https://registry.npmjs.org/
shared-workspace-lockfile=true
recursive-install=true
node-linker=isolated
use-lockfile=true
