<form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="flex flex-col gap-6 font-body">
    <main class="flex flex-col gap-6">
        <app-input-field type="email" label="Email" id="user-email" [control]="loginForm.controls.email"
            [error]="errors['email']?.[0] ?? null" />
        <app-input-field type="password" label="Password" id="user-password" [control]="loginForm.controls.password"
            [error]="errors['password']?.[0] ?? null" />
        <app-checkbox-field label="Remember me" [control]="loginForm.controls.rememberMe" />

        @if(hasErrors){
        <div class="px-3 py-2 bg-background/20 border-primary/40 border rounded-xl">
            <strong class="text-primary text-lg">ERROR</strong>
            @for (entry of errors | keyvalue; track entry.key) {
            <p class="text-md"><em class="text-primary font-semibold capitalize">{{ entry.key }}:</em> {{
                entry.value[0]
                }}</p>
            }
        </div>
        }
        <div class="flex gap-3">
            <button
                class="border border-secondary/40 bg-secondary/30 text-text px-[40px] py-2 rounded-full font-body text-base hover:opacity-90 transition-all ease-in capitalize backdrop-blur-xl"
                type="button" (click)="resetForm()">reset</button>
            <button
                class="border border-accent/40 bg-accent/30 text-text px-[40px] py-2 rounded-full font-body text-base hover:opacity-90 transition-all ease-in capitalize w-full cursor-pointer backdrop-blur-xl"
                type="submit">login</button>
        </div>
    </main>
    <footer class="border-t border-secondary/40 pt-4 flex flex-col items-center gap-3">
        <small>Don't have an account?</small>
        <button (click)="changeForm()" type="button"
            class="border border-accent/40 bg-accent/30 text-text px-[40px] py-2 rounded-full font-body text-base hover:opacity-90 transition-all ease-in capitalize">create
            account</button>
    </footer>
</form>