@if (breadcrumbService.breadcrumbs && breadcrumbService.breadcrumbs.length > 0) {
<nav aria-label="breadcrumb">
    <ol class="flex align-baseline">
        @for (breadcrumb of breadcrumbService.breadcrumbs!; track breadcrumb.label; let index = $index) {
        <li class="hover:text-amber-700">
            <a [routerLink]="breadcrumb.url">
                {{ breadcrumb.label }}
            </a>
            @if (index < breadcrumbService.breadcrumbs.length -1 ) { <span class="px-3">/</span>}
        </li>
        } @empty {
        <li>Nessun elemento</li>
        }
    </ol>
</nav>
}