<section>
    <app-base-card title="Create New Company" description="Fill in the details to create a new company.">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
            <div class="grid grid-cols-2 gap-3">
                <app-input-field label="Company Name" type="text" [control]="form.controls.companyName"
                    [error]="errors['companyName']?.[0] ?? null"></app-input-field>
                <app-input-field label="Nationality" type="text" [control]="form.controls.nationality"
                    [error]="errors['nationality']?.[0] ?? null"></app-input-field>
                <app-input-field label="Referral Email" type="email" [control]="form.controls.referralEmail"
                    [error]="errors['referralEmail']?.[0] ?? null" class="col-span-2"></app-input-field>
                <app-textarea-field label="Description" [control]="form.controls.description"
                    [error]="errors['description']?.[0] ?? null" class="col-span-2"></app-textarea-field>
            </div>

            @if (hasErrors) {
            <div class="px-3 py-2 bg-background/20 border-primary/40 border rounded-xl">
                <strong class="text-primary text-lg">Error</strong>
                @for (entry of errors | keyvalue; track entry.key) {
                <p class="text-md"><em class="text-primary font-semibold capitalize">{{entry.key}}:</em>
                    {{entry.value[0]}}
                </p>
                }
            </div>
            }

            <div class="flex gap-3 justify-between">
                <button type="button"
                    class="border border-secondary/40 bg-secondary/30 text-text px-[40px] py-2 rounded-full font-body text-base hover:opacity-90 transition-all ease-in capitalize backdrop-blur-xl"
                    (click)="cancel()">Cancel</button>
                <div class="flex gap-3">
                    <button type="button"
                        class="border border-secondary/40 bg-secondary/30 text-text px-[40px] py-2 rounded-full font-body text-base hover:opacity-90 transition-all ease-in capitalize backdrop-blur-xl"
                        (click)="reset()">Reset</button>
                    <button type="submit"
                        class="border border-accent/40 bg-accent/30 text-text px-[40px] py-2 rounded-full font-body text-base hover:opacity-90 transition-all ease-in capitalize backdrop-blur-xl">Create
                        Company</button>
                </div>
            </div>
        </form>
    </app-base-card>
</section>