PORT=3000

JWT_ACCESS_SECRET="dev-access-secret"
JWT_ACCESS_EXPIRES="15m"

JWT_REFRESH_SECRET="dev-refresh-secret"
JWT_REFRESH_EXPIRES="7d"

DB_HOST="hostname"
DB_NAME="dbname"
DB_PORT=0000
DB_CONNECTION_LIMIT=0
DB_USER="username"
DB_PSW="password"